body {
    /* background-color: #171717; */
    font-family: 'Roboto';
    color: #FFFFFF;
    background: url(../images/background1.png) center /cover no-repeat;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 100vh;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.logo-section {
    display: flex;
    align-items: center;    
    text-decoration: none;
    color: #FFFFFF;
}

.logo-text :first-child {
    font-size: 29px;
    line-height: 29px;
    padding-left: 8px;
    font-weight: 900px;
}

.logo-text :last-child {
    font-size: 18px;
    line-height: 18px;
    padding-left: 8px;
}

.logo-section:hover {
    color: #F26522;
}

.logo-section:hover .logo-image-default {
    display: none;
}

.logo-section:hover .logo-image-hover {
    display: block;
}

.logo-image-hover {
    display: none;
}

.contact-section {
    height: 60px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 18px;
}

.contact-section>a {
    text-decoration: none;
    color: #FFFFFF;
}

.contact-section>a:hover {
    color: #F26522;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 596px;
    column-gap: 60px;
    /* border: #FFFFFF solid 2px; */
}

.main-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}

.main-grid-item>a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-grid-item img {
    aspect-ratio: 8 / 6;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.main-grid-item p {
    padding-top: 20px;
}

.container-page-cover {
    position: relative;
}

.page-cover {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    font-size: 10px;
    background-color: #F26522;
    display: none;
}

.page-cover-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 8px;
}

.page-cover-item :last-child::after {
    content: " >";
    padding-left: 15px;
}

.main-grid-item:hover .page-cover {
    color: #FFFFFF;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 15px;
}

.main-grid-item:hover p {
    color: #F26522;
}

.footer {
    text-align: center;
    margin-top: -30px;
}